src/wsdl/192.168.88.44_8181/EntertainmentWS/ChargingWebserviceImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://chargingwebservice.nms.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://chargingwebservice.nms.com/">

<xs:element name="ChargeItems" type="tns:ChargeItems"/>

<xs:element name="ChargeItemsResponse" type="tns:ChargeItemsResponse"/>

<xs:complexType name="ChargeItems">
<xs:sequence>
<xs:element name="arg0" type="tns:contentPurcharseReq" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contentPurcharseReq">
<xs:complexContent>
<xs:extension base="tns:requestBase">
<xs:sequence>
<xs:element name="contentCode" type="xs:string" minOccurs="0"/>
<xs:element name="cpName" type="xs:string" minOccurs="0"/>
<xs:element name="isdn" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="shortCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="requestBase">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="timeout" type="xs:int"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ChargeItemsResponse">
<xs:sequence>
<xs:element name="return" type="tns:contentPurcharseRes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contentPurcharseRes">
<xs:complexContent>
<xs:extension base="tns:responseBase">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="responseBase">
<xs:sequence>
<xs:element name="detail" type="xs:string" minOccurs="0"/>
<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
<xs:element name="result" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>